.feynman__link {
    position: absolute;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    color: #2f80ed;
    text-decoration: none;
    z-index: 1;
    top: 50%;
    right: 48px;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }