.header {
    min-height: 600px;
    max-height: 756px;
    height: 100vh;
    display: flex;
    position: relative;
    background-color: #F2F2F2;
  }
  
  .logo {
    z-index: 1; 
  }
  
  .logo_place_header {
    width: 154px;
    height: 31px;
    top: 30px;
    left: 64px;
    position: absolute;
  }
  
  .header__title {
    align-items: center;
    display: flex;
    margin: 0;
    margin-left: 64px;
    padding: 0;
    max-width: 730px;
    z-index: 2;
    line-height: 96px;
    font-size: 102px;
    font-weight: bold;
  }
  
  .header__subtitle {
    position: absolute;
    margin: 0;
    z-index: 2;
    bottom: 30px;
    left: 64px;
    max-width: 388px;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;  
  }
  
  .header__link {
    color: #2f80ed;
    text-decoration: none;
  }
  
  .header__main-illustration {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    width: 756px;
    height: 608px;
  }
  
  .header__square {
    top: 64px;
    right: 0px;
    position: absolute;
    height: 568px;
    width: 568px;
    background-color: #2f80ed;
  }
    